@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    @apply bg-white rounded overflow-hidden shadow-md relative;
}
.badge{
    @apply bg-yellow-200 text-yellow-600 text-xs uppercase font-bold rounded-full p-2 absolute top-0 ml-2 mt-2;
}
.btn{
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;  
}
.navbaritem{
    @apply px-4 flex justify-end border-r-4 ;
}
.btntrans{
    @apply transition ease-out duration-500
}